@media screen and (max-width:370px) {
    /* navbar */
    .navbar {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        width: 0;
        padding: 0;
        z-index: 1;
    }
    /* buttom home animation */
    .home .home-content a {
        padding: 10px 26px;
        margin: 70px 0 0 0;
        overflow: hidden;
    }
    .home .home-content a::before {
        width: 40px;
        height: 350%;
    }
    .home .home-content a span {
        position: relative;
        z-index: 1;
        font-size: 10px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    /* home */
    .home {
        display: flex;
        background: url('home2.png') no-repeat center;
        height: 100vh;
        color: white;
        min-height: 500px;
    }
    .home .max-width {
        /* margin: auto 100px auto 0px; */
        position: absolute;
        top: 150px;
        left: -50px;
        width: 340px;
        background: black;
    }
    .home .home-content .text-1 {
        font-size: 20px;
    }
    .home .home-content .text-2 {
        font-size: 20px;
        font-weight: 600;
        margin-left: -3px;
    }
    .home .home-content .text-3 {
        font-size: 15px;
        margin: 5px 0;
    }
    .home .home-content .text-3 span {
        color: #44D62C;
        font-weight: 500;
    }
    /* cube 3d */
    .home .cube {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 330px;
        left: 250px;
    }
    @keyframes animatecube {
        0% {
            transform: rotatex(-30deg) rotateY(0deg);
        }
        100% {
            transform: rotatex(-30deg) rotateY(360deg);
        }
    }
    .home .cube .top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #252525;
        transform: rotateX(90deg) translateZ(25px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .cube .top p {
        color: white;
    }
    .home .cube .top::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #44D62C;
        transform: translateZ(-75px);
        filter: blur(20px);
    }
    .home .cube div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .home .cube div span {
        position: absolute;
        transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
    }
    .home .cube .top #cube1 {
        font-size: 15px;
    }
    .home .cube .top p {
        color: white;
        font-size: 7px;
    }
    /* scroll-up-btn */
    .scroll-up-btn,
    .scroll-up-btn.show,
    .scroll-up-btn #rocket {
        opacity: 0;
    }
}

@media screen and (max-width:421px) {
    /* navbar */
    .navbar {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        width: 0;
        padding: 0;
        z-index: 1;
        background-color: brown;
    }
    /* buttom home animation */
    .home .home-content a {
        padding: 10px 26px;
        margin: 70px 0 0 0;
        overflow: hidden;
    }
    .home .home-content a::before {
        width: 40px;
        height: 350%;
    }
    .home .home-content a span {
        position: relative;
        z-index: 1;
        font-size: 10px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    /* home */
    .home {
        display: flex;
        background: url('home2.png') no-repeat center;
        height: 100vh;
        color: white;
        min-height: 500px;
    }
    .home .max-width {
        /* margin: auto 100px auto 0px; */
        position: absolute;
        top: 150px;
        left: -50px;
        width: 340px;
        background: black;
    }
    .home .home-content .text-1 {
        font-size: 20px;
    }
    .home .home-content .text-2 {
        font-size: 20px;
        font-weight: 600;
        margin-left: -3px;
    }
    .home .home-content .text-3 {
        font-size: 15px;
        margin: 5px 0;
    }
    .home .home-content .text-3 span {
        color: #44D62C;
        font-weight: 500;
    }
    /* cube 3d */
    .home .cube {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 330px;
        left: 250px;
    }
    @keyframes animatecube {
        0% {
            transform: rotatex(-30deg) rotateY(0deg);
        }
        100% {
            transform: rotatex(-30deg) rotateY(360deg);
        }
    }
    .home .cube .top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #252525;
        transform: rotateX(90deg) translateZ(25px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .cube .top p {
        color: white;
    }
    .home .cube .top::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #44D62C;
        transform: translateZ(-75px);
        filter: blur(20px);
    }
    .home .cube div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .home .cube div span {
        position: absolute;
        transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
    }
    .home .cube .top #cube1 {
        font-size: 15px;
    }
    .home .cube .top p {
        color: white;
        font-size: 7px;
    }
    /* scroll-up-btn */
    .scroll-up-btn,
    .scroll-up-btn.show,
    .scroll-up-btn #rocket {
        opacity: 0;
    }
}