/* @media screen and (min-width:425px) { */

body {
    background: black;
}

/* BUTTON_UP START */

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    right: 10px;
    z-index: 9999;
    bottom: 0px;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
}

.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn #rocket {
    color: #44D62C;
    font-size: 35px;
    -webkit-text-stroke: 1px #000;
    animation: animateRocket 0.2s linear infinite;
    opacity: 1;
}

@keyframes animateRocket {

    0%,
    100% {
        transform: translate(0px, 0px) rotate(-45deg);
    }

    50% {
        transform: translate(0, 3px) rotate(-45deg);
    }
}

/* BUTTON_UP END */



/* NAVBAR START */

.navbar {
    position: fixed;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
    padding: 10px 0px;
    border-bottom: solid #44D62C;
    transition: all 0.3s ease;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar .logo a {
    color: #44D62C;
    font-size: 20px;
    font-weight: 600;
}

.navbar .logo span {
    color: white;
}

.navbar .menu li a span {
    position: absolute;
    color: white;
    z-index: 1;
}

.navbar .menu li {
    list-style: none;
    display: inline-flex;
}

.navbar .menu li a {
    position: relative;
    width: 100px;
    height: 25px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

.navbar .menu li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #44D62C;
    transition: 0.5s ease-in-out;
}

.navbar .menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #44D62C;
    transition: 0.5s ease-in-out;
}

.navbar .menu li a:hover::after,
.navbar .menu li a:hover::before {
    width: 50%;
}

.navbar.sticky {
    padding: 2px 0px 0px 0px;
    background: #44D62C;
}

.navbar.sticky .logo a {
    color: black;
}

.navbar.sticky .logo a span {
    color: black;
}

.navbar.sticky .menu li a {
    background: #44D62C;
    height: 30px;
}

.navbar.sticky .menu li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: black;
    transition: 0.5s ease-in-out;
}

.navbar.sticky .menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background: black;
    transition: 0.5s ease-in-out;
}

.navbar.sticky .menu li.active a::before {
    width: 100%;
    background: black;
}

.navbar.sticky .menu li.active a::after {
    width: 100%;
    background: black;
}

/* NAVBAR END */


/* HOME START */

.home {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.home .home-content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.home .home-content {
    margin-top: 120px;
}

.home .home-content .text-1 {
    font-size: 17px;
}

.home .home-content .text-2 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px;
}

.home .home-content .text-3 {
    font-size: 17px;
}

.home .home-content .text-3 span {
    color: #44D62C;
    font-weight: 500;
}


/* cube 3d */

.home .cube {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animatecube 10s linear infinite;
    /* bottom: 150px;
        right: 410px; */
    margin-top: 100px;
}

@keyframes animatecube {
    0% {
        transform: rotatex(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotatex(-30deg) rotateY(360deg);
    }
}

.home .cube .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #252525;
    transform: rotateX(90deg) translateZ(50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .cube .top p {
    color: white;
}

.home .cube .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #44D62C;
    transform: translateZ(-150px);
    filter: blur(20px);
}

.home .cube div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.home .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#252525, #44D62C);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.home .cube .top #cube1 {
    font-size: 50px;
}

.home .cube .top p {
    color: white;
    font-size: 9px;
}

/* home animasi button */

.home .home-content a {
    position: relative;
    display: inline-flex;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 70px 0 0 0;
    transition: 1s;
    overflow: hidden;
}

.home .home-content a:after {
    content: '';
    position: absolute;
    inset: 4px;
    background: black;
    transform: 0.5s;
}

.home .home-content a:hover::after {
    background: var(--clr);
}

.home .home-content a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.home .home-content a:hover::before {
    width: 120%;
}

.home .home-content a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2000%;
    background: var(--clr);
    transition: 1s;
    animation: animatebtn 7s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.home .home-content a span {
    position: relative;
    z-index: 1;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

@keyframes animatebtn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* HOME END */



/* PROJECT START */

.project {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project .container {

    position: relative;
    width: 100%;
    overflow: hidden;
    /* -webkit-box-reflect: below -10px linear-gradient(transparent 60%, #0009); */

}

.project .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    min-height: 350px;
    margin: 10px;
}

.project .swiper-container-3d .swiper-slide-shadow-left,
.project .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.project .container .card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #333;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
    height: 450px;
}

.project .container .card .layer {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#44D62C, #226B16);
    z-index: 1;
    transition: 0.5s;
}

.project .container .card:hover .layer {
    top: 0;
}

.project .details {
    margin-top: 30px;
    font-family: 'ubuntu', sans-serif;
}

.project .status {
    margin-top: 30px;
    font-family: 'ubuntu', sans-serif;
    padding: 5px;
    border-radius: 10px;
    background: #44D62C;
}

.project .container .card .content {
    position: relative;
    z-index: 2;
}

.project .container .card .content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.project .img1 {
    overflow: hidden;
}

.project .img1 img {
    width: 70%;
    border-radius: 50%;
}

/* PROJECT END */



/* CONTACT START */

.contact {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.contact .sci {
    display: flex;
    position: relative;
    margin-top: 100px;
}

.contact .sci li {
    list-style: none;
}

.contact .sci li a {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 50px;
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: background 0.50s;
    box-shadow: 0 25px 35px rgb(255, 255, 255, 0.2);
}

.contact .sci li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
    color: #44D62C;
    font-family: 'ubuntu', sans-serif;
}

.contact .sci li:hover::before {
    opacity: 1;
    transform: translate(-50%, calc(-300% + 150px));
}

.js-tilt-glare {
    border-radius: 10px;
}

.contact .sci li a:hover {
    background: #44D62C;
}

.contact .sci li a bx {
    transition: 0.25s;
    pointer-events: none;
}

.contact .sci li a:hover i {
    color: white;
    transition: 0.5s;
    transform: scale(1.75) translateZ(50px);
}

/* CONTACT END */



/* FOOTER START */

footer {
    position: relative;
    width: 100%;
    background: #44D62C;
    min-height: 200px;
    /* padding: 20px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer .wave {
    position: absolute;
    background: black url(/assets/img/wave.png);
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}

footer .wave #wave1 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

footer .wave #wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 0;
    animation: animatewave2 4s linear infinite;
}

footer .wave #wave3 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

footer .wave #wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20;
    animation: animatewave2 3s linear infinite;
}

@keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

footer p {
    color: black;
    font-family: 'ubuntu', sans-serif;
    top: 130px;
    position: absolute;
    font-size: 20px;
}

/* FOOTER END */